html{
    min-height: 100%;
    background-image: url(images/utAustinEdit-min.jpg);
    background-repeat: no-repeat;
    background-color: #bf5700;
    background-size: cover;
    background-position: center right;
}
