* {box-sizing: border-box;}

html{
    min-height: 100%;
    background-image: url(images/utAustinEdit-min.jpg);
    background-repeat: no-repeat;
    background-color: #bf5700;
    background-size: cover;
    background-position: center right;
}

.top-container {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.content {
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    height: 100vh;
    background-color: white;
}

.header {
    overflow: hidden;
    background-color: #bf5700;
    padding: 5px 10px;
    top: 0;
    margin-left: 5%;
    margin-right: 5%;
    height: 50px;
}

.header a {
    float: left;
    color: white;
    text-align: right;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #d6d2c4;
    color: #333f48;
}

.header a.active {
    background-color: white;
    color: #333f48;
}

.header-right {
    float: center;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 90%;
}

.sticky + .content {
    padding-top: 66px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align:left;
    }

    .header-right {
        float: none;
    }
}

body {
    margin-top: 100px;
    margin: 0;
    height: 100%;
}

#myDiv {
    margin: 5%;
    height: 100vh;
    background-color: white;
}

#title {
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: #333f48;
}
