body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .top-container {
    background-color: #bf5700;
    padding: 70px;
    text-align: center;
    background-image: url(images/utAustinEdit-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
    /*background-position: bottom-right;*/
  }
  
  .header {
    background: #333f48;
    background-color: #bf5700;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header a {
    width: 100%;
    color: white;
    text-align: center;
    padding: 24px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
  }
  .header a:hover {
    background-color: #d6d2c4;
    color: #333f48;
  }

  .header a.active {
    background-color: white;
    color: #333f48;
  }

  .elems {
    display: flex;
  }
  
  .content {
    padding: 16px;
  }


  .profile {
    padding: 100px;
    z-index: 99;
  }

  .profile img {
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
  }
  
  .sticky {
    width: 100%;
    position: fixed;
    top: 0;
  }
  
  .sticky + .content {
    padding-top: 88px;
  }

  @media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align:center;
    }

    .elems {
        float: center;
    }
}

#Education {
  scroll-margin-top: 3.5em;
}

#Interests {
  scroll-margin-top: 3.5em;
}